@import '../../utils/var.modules.scss';

* {
    padding: 0;
    margin: 0;
}

.card-container {
    display: flex;
    justify-content: space-between;
    width: 940px;
    height: 140px;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    font-family: $inter;
    @include shadowCard;
    &__desc {
        display: flex;
        flex-direction: column;
        flex-basis: 75%;
        .card-title {
            font-size: 20px;
            margin-bottom: 5px;
            &__link {
                color: $cardTitleColor;
                text-decoration: none;
            }
            &__icon {
                color: #be4bdb;
                margin-left: 10px;
                cursor: pointer;
            }
            &__favorited {
                color: #be4bdb;
                font-size: 10px;
                margin-left: 5px;
                padding-bottom: 2px;
                vertical-align: middle;

            }
        }
        .card-tags {
            display: flex;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.5);
            margin-bottom: 5px;
            &__item {
                border: 1px solid rgba(0, 0, 0, 0.5);
                margin-right: 5px;
                border-radius: 2px;
                padding: 0px 3px;
            }
        }
        .card-text {
            font-size: 12px;
            color: rgba(0, 0, 0, 0.75);
            height: 36px;
            overflow: hidden;
        }
    }
    &__avatar {
        flex-basis: 25%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }
}