@import '../../../utils/var.modules.scss';

* {
    padding: 0;
    margin: 0;
}
.forms-container {
    width: 384px;
    height: 600px;
    @include shadowCard;
    padding: 48px 32px;
    color: $formsFontsColor;
    font-size: 14px;
    border-radius: 5px;
}
.description {
    width: 100%;
    text-align: center;
    font-size: 12px;
}